.stickyTopPageDiv{
    position:sticky;
    position:-webkit-sticky;
    top:0;
}

.sideDiv{
    background-color:yellow;
    box-shadow:1px 2px;
    text-align: center;
    border:0.5px solid;
    border-radius:5px;
}

.sideDiv:hover{
    background-color:blueviolet;
    color:cornsilk;
}

#sideDivUl{
    border: 1px solid;
    border-color: black;
    float: right;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    box-shadow:3px 5px 4px  rgb(199, 164, 211);
}
.sectionFooter{
    position:fixed;
    left:0;
    bottom:0
}
a{
    text-decoration: none;
}
/* @counter-style peas-and-carrots{
    system:fixed;
    symbols:🍉;
    suffix:" ";
}
#sideDivUl:hover{
    list-style: peas-and-carrots;
} */

